# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [39]:
# Write your code here
print("Data", "Science" ,"Mentorship", "Program" ,sep="-",end ="-started-")
print("By" ,"CampusX",sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [41]:
# Write your code here
celsius = float(input("Temperature value in degree Celsius: " ))  
Fahrenheit = (celsius * 9/5) + 32  
    
# print the result  
print('The {} degree Celsius is equal to: {} Fahrenheit'  
      .format(celsius, Fahrenheit))

Temperature value in degree Celsius: 43
The 43.0 degree Celsius is equal to: 109.4 Fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [9]:
# Write your code here
a=input("enter a: ")
b=input("enter b: ")
a,b=b,a
print(a,b)

enter a: 22
enter b: 33
33 22

In [42]:
a=3
b=4
temp=a
a=b
b=temp
print(a,b)

4 3

34
### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [46]:
# Write your code here
x1=int(input("enter x cor of fist point: "))
x2=int(input("enter x cpr of sencon pont: "))
y1=int(input("enter y cor of ist point : "))
y2=int(input("enter y cod of second point: "))
distance=((x1-x2)**2+(y1-y2)**2)**0.5
print("distance is :",distance)

enter x cor of fist point: 2
enter x cpr of sencon pont: 3
enter y cor of ist point : 4
enter y cod of second point: 5
distance is : 1.4142135623730951

33### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [18]:
# Write your code here
principal =int(input("Enter principal : "))
rate = float(input("Enter Rate : "))
time =int(input("Enter time: "))
Simple_interest = (principal * rate * time)/100
print("Simple interest is : ",Simple_interest)

Enter principal : 1000
Enter Rate : 10
Enter time: 5
Simple interest is :  500.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [19]:
# Write your code here
heads = int(input('Enter the total number of heads:'))
legs = int(input('Enter the total number of legs:'))
if legs % 2 !=0 or heads ==0 or heads > legs:
   print('No solution')
else:  
   d = int((legs + (-2*heads))/2)
   c = int(heads - d)
   print('{} {}'.format(c,d))
   
#REF https://brainly.in/question/10498755

Enter the total number of heads:4
Enter the total number of legs:12
2 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [52]:
n =int(input("Enter the number : "))
sum =n*(n+1)*(2*n+1)/6
print(sum)

Enter the number : 10
385.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [53]:
#nth_term = first_term + (num_of_term-1)*common_diff
first_term =int(input("enter first term  : "))
second_term =int(input("enter second term : "))
n = int(input("Enter the value of n : "))

d = second_term - first_term
an = first_term + (n-1)*d
print(an)

enter first term3
enter second term6
Enter the value of n5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [54]:
# Write your code here

n1 = int(input("Enter the numerator for 1st number : "))
d1 = int(input("Enter the denominator for 1st number : "))
n2 = int(input("Enter the numerator for 2nd number : "))
d2 = int(input("Enter the denominator for 2nd number : "))

rn = n1*d2 +n2*d1

rd = d1*d2

print("{}/{}".format(rn,rd))

Enter the numerator for 1st number : 2
Enter the denominator for 1st number : 3
Enter the numerator for 2nd number : 4
Enter the denominator for 2nd number : 5
22/15

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [59]:
# Write your code here
h_t = float(input("enter height of tank: "))
b_t = float(input("enter Bredth of tank : "))
l_t = float(input("enter length of tank : "))

h_g = float(input("enter height of glass : "))
r_g = float(input("enter radius of glass : "))

vol_tank =h_t*b_t*l_t
print("Volume of tank is : ",vol_tank)

vol_glass = 3.14 * r_g *r_g*h_g
print("Volume of glass is : ",vol_glass)

print("Num of glass = " ,vol_tank/vol_glass)

enter height of tank: 9
enter Bredth of tank : 9
enter length of tank : 9
enter height of glass : 2
enter radius of glass : 3
Volume of tank is :  729.0
Volume of glass is :  56.519999999999996
Num of glass =  12.898089171974522