# SQL SubQuery
## How to load the dataset(s) to SQL?
Using Python, you can load the large datasets to MySQL database very easily. For that follow the below steps.

- First create a database in your local machine server.

```sql
CREATE DATABASE <database_name>
```

- Next, use Python to load the database

```python
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv("file/path/to/the/database.csv")

engine = create_engine("mysql+pymysql://<db_username>:<db_password>@<hostname>/<database_name>")
df.to_sql("<table_name>", con=engine)
```

## Problems 1-6

For problems 1 to 6, use the Olympic dataset. You can get that from [here](https://drive.google.com/file/d/1EGIRBkbQGByJPvCqDtxtTnXv93oGunFp/view?usp=share_link).

**Column description:**
1. ID -> ID of every records to our dataset. It has integer datatype.
2. Name -> Name of the athletes.
3. Sex -> Gender of the athletes.
4. Height -> Height of the athletes
5. Weight -> Weight of the athletes
6. NOC -> In which country, the athletes belong to. This is actually the country code.
7. Year -> In which year, the athlete has participated
8. Sport -> What is the sport name in which the athlete participated.
9. Event -> Event name of the sport
10. Medal -> Which medal the athlege got. If the athlete did not get any medal then this cell is blank.
11. country -> The name of the country.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

import pandas as pd

In [2]:
import pymysql
con = pymysql.connect(host='localhost',user='root',password='campusx',database='task_35')

In [12]:
engine = create_engine("mysql+pymysql://root:campusx@localhost/task_35")
olympic.to_sql("olympic", con=engine)

219085

In [3]:
olympic = pd.read_csv("olympics_cleaned_v4.csv")
olympic

,ID,Name,Sex,Age,Height,Weight,NOC,Year,Sport,Event,Medal,country
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992,Basketball,Basketball Men's Basketball,NaN,China
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012,Judo,Judo Men's Extra-Lightweight,NaN,China
2,602,Abudoureheman,M,22.0,182.0,75.0,CHN,2000,Boxing,Boxing Men's Middleweight,NaN,China
3,1463,Ai Linuer,M,25.0,160.0,62.0,CHN,2004,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",NaN,China
4,1464,Ai Yanhan,F,14.0,168.0,54.0,CHN,2016,Swimming,Swimming Women's 200 metres Freestyle,NaN,China
...,...,...,...,...,...,...,...,...,...,...,...,...
219080,120575,Mamorallo Tjoka,F,23.0,150.0,56.0,LES,2008,Athletics,Athletics Women's Marathon,NaN,Lesotho
219081,120575,Mamorallo Tjoka,F,27.0,150.0,56.0,LES,2012,Athletics,Athletics Women's Marathon,NaN,Lesotho
219082,122166,M'apotlaki Ts'elho,F,15.0,NaN,NaN,LES,1996,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,Lesotho
219083,122215,Lefa Tsapi,M,23.0,170.0,63.0,LES,1984,Boxing,Boxing Men's Welterweight,NaN,Lesotho
219084,122299,Mosolesa Tsie,M,20.0,175.0,75.0,LES,2000,Boxing,Boxing Men's Welterweight,NaN,Lesotho

### Problem 1

Display the names of athletes who won a gold medal in the 2008 Olympics and whose height is greater than the average height of all athletes in the 2008 Olympics.


### Problem 2

Display the names of athletes who won a medal in the sport of basketball in the 2016 Olympics and whose weight is less than the average weight of all athletes who won a medal in the 2016 Olympics.



### Problem 3

Display the names of all athletes who have won a medal in the sport of swimming in both the 2008 and 2016 Olympics.



### Problem 4

Display the names of all countries that have won more than 50 medals in a single year.



### Problem 5

Display the names of all athletes who have won medals in more than one sport in the same year.



### Problem 6

What is the average weight difference between male and female athletes in the Olympics who have won a medal in the same event?

### Problem 1
### Display the names of athletes who won a gold medal in the 2008 Olympics and whose height is greater than the average height of all athletes in the 2008 Olympics.

In [11]:
SELECT Name FROM Olympic
WHERE Year = 2008
  AND Medal = 'Gold'
  AND Height > (SELECT AVG(Height) FROM Olympic WHERE Year = 2008);

In [15]:
import pandas as pd
import pymysql

# establish connection
conn = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# SQL query
sql = "SELECT Name FROM Olympic WHERE Year = 2008 AND Medal = 'Gold' AND Height > (SELECT AVG(Height) FROM Olympic WHERE Year = 2008)"

# execute query and fetch data into a DataFrame
names_tall_gold_2008 = pd.read_sql(sql, conn)

# display the names of athletes
print(names_tall_gold_2008)

# close the connection
conn.close()

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                Name
0          Jin Ziwei
1            Lin Dan
2           Liu Zige
3     Meng Guanliang
4           Pang Wei
..               ...
357    Park Tae-Hwan
358    Ryu Hyeon-Jin
359   Song Seung-Jun
360  David Kosteleck
361   Barbora potkov

[362 rows x 1 columns]

### Problem 2
### Display the names of athletes who won a medal in the sport of basketball in the 2016 Olympics and whose weight is less than the average weight of all athletes who won a medal in the 2016 Olympics.

In [ ]:
SELECT Name
FROM Olympic
WHERE Year = 2016
  AND Medal IS NOT NULL
  AND Sport = 'Basketball'
  AND Weight < (
    SELECT AVG(Weight)
    FROM Olympic
    WHERE Year = 2016 AND Medal IS NOT NULL
  );

In [16]:
import pandas as pd
import pymysql

# establish connection
conn = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# SQL query to calculate the average weight of medalists in 2016
sql_avg_weight = "SELECT AVG(Weight) FROM Olympic WHERE Year = 2016 AND Medal IS NOT NULL"

# execute query and fetch data into a DataFrame
avg_weight_2016 = pd.read_sql(sql_avg_weight, conn)
avg_weight_2016 = avg_weight_2016.iloc[0][0]  # get the scalar value from DataFrame

# SQL query to select names of basketball medalists in 2016 with weight less than average
sql_basketball_medalists_2016 = "SELECT Name FROM Olympic WHERE Year = 2016 AND Medal IS NOT NULL AND Sport = 'Basketball' AND Weight < %s"
params = (avg_weight_2016,)  # pass the average weight as a parameter to prevent SQL injection

# execute query and fetch data into a DataFrame
names_light_basketball_medalists_2016 = pd.read_sql(sql_basketball_medalists_2016, conn, params=params)

# display the names of athletes
print(names_light_basketball_medalists_2016)

# close the connection
conn.close()

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                         Name
0           Anna Cruz Lebrato
1     Slvia Domnguez Fernndez
2     Astou Barro Ndour Gueye
3             Laia Palau Alts
4       Leonor Rodrguez Manso
5      Leticia Romero Gonzlez
6     Marta Xargay Casademont
7   Suzanne Brigit "Sue" Bird
8    Angel Lajuane McCoughtry
9        Diana Lurena Taurasi
10       Lindsay Marie Whalen
11            Dajana Butulija
12                     Saa ao
13                 Ana Dabovi
14              Milica Dabovi
15            Nevena Jovanovi
16              Tamara Radoaj
17           Dragana Stankovi

### Problem 3
### Display the names of all athletes who have won a medal in the sport of swimming in both the 2008 and 2016 Olympics.

In [ ]:
SELECT DISTINCT Name
FROM Olympic
WHERE Sport = 'Swimming'
  AND Medal IS NOT NULL
  AND Year IN (2008, 2016)
GROUP BY Name
HAVING COUNT(DISTINCT Year) = 2;

In [17]:
import pymysql

# establish a connection to the database
con = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# create a cursor object to execute SQL queries
cursor = con.cursor()

# define the SQL query
query = '''
SELECT DISTINCT Name
FROM Olympic
WHERE Sport = 'Swimming'
  AND Medal IS NOT NULL
  AND Year IN (2008, 2016)
GROUP BY Name
HAVING COUNT(DISTINCT Year) = 2
'''

# execute the query
cursor.execute(query)

# fetch the results and print the athlete names
results = cursor.fetchall()
for row in results:
    print(row[0])

# close the cursor and connection
cursor.close()
con.close()

Allison Rodgers Schmitt
Bronte Amelia Arnold Barratt
Cate Natalie Campbell
Emily Jane Seebohm
Fabien Pierre Aurlien Dominique Gilot
Lszl Cseh, Jr.
Michael Fred Phelps, II
Nathan Ghar-Jun Adrian
Ryan Steven Lochte
Takeshi Matsuda

In [18]:
import pymysql
import pandas as pd

# establish a connection to the database
con = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# define the SQL query
query = '''
SELECT DISTINCT Name
FROM Olympic
WHERE Sport = 'Swimming'
  AND Medal IS NOT NULL
  AND Year IN (2008, 2016)
GROUP BY Name
HAVING COUNT(DISTINCT Year) = 2
'''

# fetch the results as a DataFrame
df = pd.read_sql_query(query, con)

# print the DataFrame
print(df)

# close the connection
con.close()

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                                    Name
0                Allison Rodgers Schmitt
1           Bronte Amelia Arnold Barratt
2                  Cate Natalie Campbell
3                     Emily Jane Seebohm
4  Fabien Pierre Aurlien Dominique Gilot
5                         Lszl Cseh, Jr.
6                Michael Fred Phelps, II
7                 Nathan Ghar-Jun Adrian
8                     Ryan Steven Lochte
9                        Takeshi Matsuda

### Problem 4
### Display the names of all countries that have won more than 50 medals in a single year.

In [ ]:
SELECT country
FROM Olympic
WHERE Medal IS NOT NULL
GROUP BY country, Year
HAVING COUNT(Medal) > 50;

In [22]:
import pandas as pd
import pymysql

# establish a connection to the database
con = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# define the SQL query
query = '''
SELECT country, Year, COUNT(Medal) AS medal_count
FROM Olympic
WHERE Medal IS NOT NULL
GROUP BY country, Year
HAVING COUNT(Medal) > 50
'''

# read the query results into a pandas dataframe
df = pd.read_sql(query, con)

# group the dataframe by country and filter to only show countries with a max medal count greater than 50
df_filtered = df.groupby('country').filter(lambda x: x['medal_count'].max() > 50)

# extract and print the unique country names from the filtered dataframe
countries = df_filtered['country'].unique()

# create a new dataframe with the list of countries
df_countries = pd.DataFrame({'Country': countries})

# print the dataframe to the console
print(df_countries)

# close the connection
con.close()

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

           Country
0            China
1          Denmark
2      Netherlands
3          Finland
4           Norway
5          Romania
6           France
7            Spain
8         Bulgaria
9            Italy
10          Russia
11       Argentina
12            Cuba
13             USA
14         Hungary
15         Germany
16          Canada
17       Australia
18         Belgium
19           Japan
20     Switzerland
21          Brazil
22          Sweden
23              UK
24          Poland
25  Czech Republic
26         Austria
27          Serbia
28     South Korea

### Problem 5
### Display the names of all athletes who have won medals in more than one sport in the same year.

In [ ]:
SELECT DISTINCT Name, Year
FROM Olympic
WHERE Name IN (
    SELECT Name
    FROM Olympic
    WHERE Medal IS NOT NULL
    GROUP BY Name, Year, Sport
    HAVING COUNT(*) > 1
);

In [ ]:
import pandas as pd
import pymysql

# establish a connection to the database
con = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# define the SQL query
query = '''
SELECT DISTINCT Name, Year
FROM Olympic
WHERE Name IN (
    SELECT Name
    FROM Olympic
    WHERE Medal IS NOT NULL
    GROUP BY Name, Year, Sport
    HAVING COUNT(*) > 1
)
'''

# read the query results into a pandas dataframe
df = pd.read_sql(query, con)

# print the dataframe to the console
print(df)

# close the connection
con.close()

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### Problem 6
### What is the average weight difference between male and female athletes in the Olympics who have won a medal in the same event?

In [ ]:
SELECT AVG(CASE WHEN Sex = 'M' THEN Weight ELSE -Weight END) AS weight_diff
FROM Olympic
WHERE Medal IS NOT NULL AND
    Name IN (
        SELECT Name
        FROM Olympic
        WHERE Medal IS NOT NULL
        GROUP BY Name, Event
        HAVING COUNT(DISTINCT Medal) = 1
    );

In [ ]:
import pandas as pd
import pymysql

# establish a connection to the database
con = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# define the SQL query
query = '''
SELECT AVG(CASE WHEN Sex = 'M' THEN Weight ELSE -Weight END) AS weight_diff
FROM Olympic
WHERE Medal IS NOT NULL AND
    Name IN (
        SELECT Name
        FROM Olympic
        WHERE Medal IS NOT NULL
        GROUP BY Name, Event
        HAVING COUNT(DISTINCT Medal) = 1
    )
'''

# read the query result into a pandas dataframe
df = pd.read_sql(query, con)

# print the result to the console
print(f'The average weight difference between male and female athletes who have won a medal in the same event is {df["weight_diff"][0]:.2f} kg.')

# close the connection
con.close()

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Problem 7 - 10

Use the health insurance dataset. You can get the dataset as well as the description of the dataset [here](https://www.kaggle.com/datasets/thedevastator/insurance-claim-analysis-demographic-and-health).

In [3]:
insurance = pd.read_csv("insurance.csv")
insurance

,index,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
0,0,1,39.0,male,23.2,91,Yes,0,No,southeast,1121.87
1,1,2,24.0,male,30.1,87,No,0,No,southeast,1131.51
2,2,3,NaN,male,33.3,82,Yes,0,No,southeast,1135.94
3,3,4,NaN,male,33.7,80,No,0,No,northwest,1136.40
4,4,5,NaN,male,34.1,100,No,0,No,northwest,1137.01
...,...,...,...,...,...,...,...,...,...,...,...
1335,1335,1336,44.0,female,35.5,88,Yes,0,Yes,northwest,55135.40
1336,1336,1337,59.0,female,38.1,120,No,1,Yes,northeast,58571.07
1337,1337,1338,30.0,male,34.5,91,Yes,3,Yes,northwest,60021.40
1338,1338,1339,37.0,male,30.4,106,No,0,Yes,southeast,62592.87
1339,1339,1340,30.0,female,47.4,101,No,0,Yes,southeast,63770.43

In [4]:
engine = create_engine("mysql+pymysql://root:campusx@localhost/task_35")
insurance.to_sql("insurance", con=engine)

1340

### Problem 7

How many patients have claimed more than the average claim amount for patients who are smokers and have at least one child, and belong to the southeast region?


### Problem 8

How many patients have claimed more than the average claim amount for patients who are not smokers and have a BMI greater than the average BMI for patients who have at least one child?



### Problem 9

How many patients have claimed more than the average claim amount for patients who have a BMI greater than the average BMI for patients who are diabetic, have at least one child, and are from the southwest region?


### Problem 10:

What is the difference in the average claim amount between patients who are smokers and patients who are non-smokers, and have the same BMI and number of children?

### Problem 7
### How many patients have claimed more than the average claim amount for patients who are smokers and have at least one child, and belong to the southeast region?

In [ ]:
SELECT COUNT(*) AS num_patients
FROM insurance
WHERE smoker = 'Yes' AND children > 0 AND region = 'southeast' AND claim > (
    SELECT AVG(claim) AS avg_claim
    FROM insurance
    WHERE smoker = 'Yes' AND children > 0 AND region = 'southeast'
)

In [6]:
import pymysql
import pandas as pd

# Connect to MySQL database
con = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# Define SQL query
sql_query = """
SELECT COUNT(*) AS num_patients
FROM insurance
WHERE smoker = 'Yes' AND children > 0 AND region = 'southeast' AND claim > (
    SELECT AVG(claim) AS avg_claim
    FROM insurance
    WHERE smoker = 'Yes' AND children > 0 AND region = 'southeast'
)
"""

# Execute SQL query
result = pd.read_sql_query(sql_query, con)

# Print the result
print(result)

   num_patients
0            32

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### Problem 8
### How many patients have claimed more than the average claim amount for patients who are not smokers and have a BMI greater than the average BMI for patients who have at least one child?

In [ ]:
SELECT COUNT(*) AS num_patients
FROM insurance
WHERE smoker = 'No' AND bmi > (
    SELECT AVG(bmi) AS avg_bmi
    FROM insurance
    WHERE children > 0
) AND claim > (
    SELECT AVG(claim) AS avg_claim
    FROM insurance
    WHERE smoker = 'No' AND bmi > (
        SELECT AVG(bmi) AS avg_bmi
        FROM insurance
        WHERE children > 0
    )
)

In [7]:
import pymysql
import pandas as pd

# Connect to MySQL database
con = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# Define SQL query
sql_query = """
SELECT COUNT(*) AS num_patients
FROM insurance
WHERE smoker = 'No' AND bmi > (
    SELECT AVG(bmi) AS avg_bmi
    FROM insurance
    WHERE children > 0
) AND claim > (
    SELECT AVG(claim) AS avg_claim
    FROM insurance
    WHERE smoker = 'No' AND bmi > (
        SELECT AVG(bmi) AS avg_bmi
        FROM insurance
        WHERE children > 0
    )
)
"""

# Execute SQL query
result = pd.read_sql_query(sql_query, con)

# Print the result
print(f"{result['num_patients'][0]} patients have claimed more than the average claim amount for patients who are not smokers and have a BMI greater than the average BMI for patients who have at least one child.")

229 patients have claimed more than the average claim amount for patients who are not smokers and have a BMI greater than the average BMI for patients who have at least one child.

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### Problem 9
### How many patients have claimed more than the average claim amount for patients who have a BMI greater than the average BMI for patients who are diabetic, have at least one child, and are from the southwest region?

In [ ]:
SELECT COUNT(*) AS num_patients
FROM insurance
WHERE bmi > (
    SELECT AVG(bmi) AS avg_bmi
    FROM insurance
    WHERE diabetic = 'Yes' AND children > 0 AND region = 'southwest'
) AND claim > (
    SELECT AVG(claim) AS avg_claim
    FROM insurance
    WHERE bmi > (
        SELECT AVG(bmi) AS avg_bmi
        FROM insurance
        WHERE diabetic = 'Yes' AND children > 0 AND region = 'southwest'
    )
)

In [8]:
import pymysql

# Establish a connection to the database
con = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# Create a cursor object
cur = con.cursor()

# Execute the SQL query
query = """
SELECT COUNT(*) AS num_patients
FROM insurance
WHERE bmi > (
    SELECT AVG(bmi) AS avg_bmi
    FROM insurance
    WHERE diabetic = 'Yes' AND children > 0 AND region = 'southwest'
) AND claim > (
    SELECT AVG(claim) AS avg_claim
    FROM insurance
    WHERE bmi > (
        SELECT AVG(bmi) AS avg_bmi
        FROM insurance
        WHERE diabetic = 'Yes' AND children > 0 AND region = 'southwest'
    )
)
"""
cur.execute(query)

# Fetch the result
result = cur.fetchone()

# Print the result
print("Number of patients who claimed more than the average claim amount for patients who have a BMI greater than the average BMI for patients who are diabetic, have at least one child, and are from the southwest region:", result[0])

# Close the cursor and connection
cur.close()
con.close()

Number of patients who claimed more than the average claim amount for patients who have a BMI greater than the average BMI for patients who are diabetic, have at least one child, and are from the southwest region: 168

### Problem 10:
### What is the difference in the average claim amount between patients who are smokers and patients who are non-smokers, and have the same BMI and number of children?

In [ ]:
SELECT bmi, children, AVG(CASE WHEN smoker = 'Yes' THEN claim ELSE 0 END) AS smoker_claim, AVG(CASE WHEN smoker = 'No' THEN claim ELSE 0 END) AS non_smoker_claim, AVG(CASE WHEN smoker = 'Yes' THEN claim ELSE 0 END) - AVG(CASE WHEN smoker = 'No' THEN claim ELSE 0 END) AS claim_diff
FROM insurance
GROUP BY bmi, children

In [10]:
import pymysql
import pandas as pd

# connect to the database
con = pymysql.connect(host='localhost', user='root', password='campusx', database='task_35')

# execute the SQL query
query = """
SELECT bmi, children,
       AVG(CASE WHEN smoker = 'Yes' THEN claim ELSE 0 END) AS smoker_claim,
       AVG(CASE WHEN smoker = 'No' THEN claim ELSE 0 END) AS non_smoker_claim,
       AVG(CASE WHEN smoker = 'Yes' THEN claim ELSE 0 END) - AVG(CASE WHEN smoker = 'No' THEN claim ELSE 0 END) AS claim_diff
FROM insurance
GROUP BY bmi, children
"""

df = pd.read_sql_query(query, con)

# print the DataFrame
print(df)

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

      bmi  children  smoker_claim  non_smoker_claim    claim_diff
0    23.2         0          0.00       8389.958571  -8389.958571
1    30.1         0          0.00       8226.610000  -8226.610000
2    33.3         0          0.00       7089.188750  -7089.188750
3    33.7         0          0.00       4870.353333  -4870.353333
4    34.1         0       7209.07       4467.115000   2741.955000
..    ...       ...           ...               ...           ...
681  36.4         1      49856.06          0.000000  49856.060000
682  40.6         3      48549.18          0.000000  48549.180000
683  41.1         1      48970.25          0.000000  48970.250000
684  34.5         3      60021.40          0.000000  60021.400000
685  47.4         0      63770.43          0.000000  63770.430000

[686 rows x 5 columns]