In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql
con = pymysql.connect(host='relational.fit.cvut.cz',port=int(3306),user='guest',password='relational',database='northwind')

In [5]:
#using this code i can fetch data from website server and export every table in csv format directly

import pymysql
import pandas as pd

# Establish a connection to the database
con = pymysql.connect(host='relational.fit.cvut.cz', port=3306, user='guest', password='relational', database='northwind')

# Define a function to fetch tables from the database
def fetch_table(table_name):
    query = f'SELECT * FROM {table_name}'
    return pd.read_sql_query(query, con)

# Define a list of table names
table_names = ['Categories', 'CustomerCustomerDemo', 'CustomerDemographics', 'Customers', 'Employees',
               'EmployeeTerritories','`Order Details`','Orders','Products','Region',
               'Shippers','Suppliers','Territories']

# Loop through the list of table names and fetch each table
for table_name in table_names:
    table_df = fetch_table(table_name)
    
    # Export the table as a CSV file
    table_df.to_csv(f'{table_name}.csv', index=False)

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [3]:
import pymysql
con = pymysql.connect(host='localhost',user='root',password='campusx',database='task_37')

In [45]:
categories=pd.read_csv("Categories.csv")
customer_customer_demo=pd.read_csv("CustomerCustomerDemo.csv")
customer_demographics=pd.read_csv("CustomerDemographics.csv")
customers=pd.read_csv("Customers.csv")
employee_territories=pd.read_csv("EmployeeTerritories.csv")
employees=pd.read_csv("Employees.csv")
orders=pd.read_csv("Orders.csv")
order_details=pd.read_csv("Order_Details.csv")

region=pd.read_csv("Region.csv")
shippers=pd.read_csv("Shippers.csv")
suppliers=pd.read_csv("Suppliers.csv")
territories=pd.read_csv("Territories.csv")
products=pd.read_csv("Products.csv")

In [46]:
engine = create_engine("mysql+pymysql://root:campusx@localhost/task_37")
# categories.to_sql("categories", con=engine)
# customer_customer_demo.to_sql("customer_customer_demo", con=engine)
# customer_demographics.to_sql("customer_demographics", con=engine)
# customers.to_sql("customers", con=engine)
# employee_territories.to_sql("employee_territories", con=engine)
# employees.to_sql("employees", con=engine)
# order_details.to_sql("order_details", con=engine)
# orders.to_sql("orders", con=engine)
# region.to_sql("region", con=engine)
# shippers.to_sql("shippers", con=engine)
# suppliers.to_sql("suppliers", con=engine)
# territories.to_sql("territories", con=engine)
# products.to_sql("products", con=engine)

77

## Problem 1-4 : NorthWinddatset https://relational.fit.cvut.cz/dataset/Northwind

How to download the dataset

To download the dataset you need to create connection in your mysql workbench 

The datasets are publicly available directly from MariaDB database.

* Open your favourite MariaDB client (MySQL Workbench)
Use following credentials:
```
    hostname: relational.fit.cvut.cz
    port: 3306
    username: guest
    password: relational
```
Drive link: https://drive.google.com/drive/folders/1FMi6g1KDHbn17ikJSi7bE9-THywlxhdu?usp=sharing

###`Q-1`: Rank Employee in terms of revenue generation. Show employee id, first name, revenue, and rank


###`Q-2`: Show All products cumulative sum of units sold each month.


###`Q-3`: Show Percentage of total revenue by each suppliers



###`Q-4:` Show Percentage of total orders by each suppliers



###`Q-5`:Show All Products Year Wise report of totalQuantity sold, percentage change from last year.

### Q-1: Rank Employee in terms of revenue generation. Show employee id, first name, revenue, and rank

In [48]:
df = pd.read_sql_query("""
SELECT 
    e.EmployeeID, 
    e.FirstName, 
    SUM(od.UnitPrice * od.Quantity) AS Revenue, 
    RANK() OVER (ORDER BY SUM(od.UnitPrice * od.Quantity) DESC) AS RankNum 
FROM 
    employees e 
    JOIN orders o ON e.EmployeeID = o.EmployeeID 
    JOIN order_details od ON o.OrderID = od.OrderID 
GROUP BY 
    e.EmployeeID, e.FirstName 
ORDER BY 
    RankNum
""",con)
print(df)

   EmployeeID FirstName    Revenue  RankNum
0           4  Margaret  250187.45        1
1           3     Janet  213051.30        2
2           1     Nancy  202143.71        3
3           2    Andrew  177749.26        4
4           7    Robert  141295.99        5
5           8     Laura  133301.03        6
6           9      Anne   82964.00        7
7           6   Michael   78198.10        8
8           5    Steven   75567.75        9

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### Q-2: Show All products cumulative sum of units sold each month.

In [55]:
df = pd.read_sql_query("""
SELECT
  p.ProductName,
  DATE_FORMAT(o.OrderDate, '%Y-%M') AS Month,
  SUM(od.Quantity) AS UnitsSold,
  SUM(SUM(od.Quantity)) OVER (PARTITION BY p.ProductID ORDER BY YEAR(o.OrderDate), MONTH(o.OrderDate)) AS CumulativeSum
FROM
  products p
  JOIN order_details od ON p.ProductID = od.ProductID
  JOIN orders o ON od.OrderID = o.OrderID
GROUP BY
  p.ProductID,
  p.ProductName,
  o.OrderDate,
  MONTH(o.OrderDate),
  YEAR(o.OrderDate)
ORDER BY
  p.ProductID,
  YEAR(o.OrderDate),
  MONTH(o.OrderDate)



""",con)
print(df)

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                        ProductName           Month  UnitsSold  CumulativeSum
0                              Chai     1996-August       45.0           63.0
1                              Chai     1996-August       18.0           63.0
2                              Chai  1996-September       20.0           83.0
3                              Chai   1996-November       15.0          110.0
4                              Chai   1996-November       12.0          110.0
...                             ...             ...        ...            ...
2101  Original Frankfurter grne Soe      1998-April       30.0          761.0
2102  Original Frankfurter grne Soe      1998-April       18.0          761.0
2103  Original Frankfurter grne Soe      1998-April       10.0          761.0
2104  Original Frankfurter grne Soe        1998-May       28.0          791.0
2105  Original Frankfurter grne Soe        1998-May        2.0          791.0

[2106 rows x 4 columns]

### Q-3: Show Percentage of total revenue by each suppliers

In [63]:
df = pd.read_sql_query("""
SELECT
  s.SupplierID,
   s.ContactName,
   
 
  SUM(od.UnitPrice * od.Quantity) AS Revenue,
  (SUM(od.UnitPrice * od.Quantity) / (
    SELECT SUM(od2.UnitPrice * od2.Quantity)
    FROM order_details od2
    WHERE od2.ProductID IN (
      SELECT ProductID
      FROM products
      WHERE SupplierID = s.SupplierID
    )
  )) * 100 AS Percentage
FROM
  suppliers s
  JOIN products p ON s.SupplierID = p.SupplierID
  JOIN order_details od ON p.ProductID = od.ProductID
GROUP BY
  s.SupplierID,
  s.CompanyName,
  s.ContactName
  
ORDER BY
  Percentage DESC
LIMIT 0, 1000


""",con)
print(df)

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    SupplierID                  ContactName    Revenue  Percentage
0            5  Antonio del Valle Saavedra    26768.80       100.0
1           20                 Chandra Leka   44935.80       100.0
2           14                   Elio Rossi   51082.50       100.0
3            6                  Mayumi Ohno   15678.30       100.0
4           24              Wendy Mackenzie   69636.60       100.0
5           19                Robb Merchant   28146.40       100.0
6            2                Shelley Burke   33351.95       100.0
7            9                Lars Peterson   12072.60       100.0
8           26             Giovanni Giudici   52929.00       100.0
9            8                 Peter Wilson   48793.80       100.0
10          15                 Beate Vileid   46897.20       100.0
11          28                   Eliane Noz  126582.00       100.0
12          18                Guylne Nodier  163135.00       100.0
13          23               Anne Heikkonen   29804.00       100.0
14          10                  Carlos Diaz    4782.60       100.0
15          25              Jean-Guy Lauzon   24633.00       100.0
16           4                 Yoshi Nagase   33533.20       100.0
17           1             Charlotte Cooper   35916.80       100.0
18           7                  Ian Devling  115386.05       100.0
19          17                 Michael Bjrn   21789.80       100.0
20          12                  Martin Bein  155946.55       100.0
21          11                Petra Winkler   40818.00       100.0
22          29               Chantal Goulet   66266.70       100.0
23          16                Cheryl Saylor   23776.80       100.0
24           3                Regina Murphy   43569.00       100.0
25          13                Sven Petersen   14775.54       100.0
26          21               Niels Petersen   10884.50       100.0
27          27               Marie Delamare    6664.75       100.0
28          22                  Dirk Luchte    5901.35       100.0

### Q-4: Show Percentage of total orders by each suppliers

In [4]:
df = pd.read_sql_query("""
SELECT 
  s.SupplierID, 
  s.CompanyName, 
  COUNT(DISTINCT o.OrderID) AS TotalOrders, 
  (COUNT(DISTINCT o.OrderID) / 
    (SELECT COUNT(DISTINCT o2.OrderID) 
     FROM orders o2 
     JOIN order_details od2 ON o2.OrderID = od2.OrderID 
     JOIN products p2 ON od2.ProductID = p2.ProductID 
     WHERE p2.SupplierID = s.SupplierID)
   ) * 100 AS Percentage 
FROM suppliers s 
JOIN products p ON s.SupplierID = p.SupplierID 
JOIN order_details od ON p.ProductID = od.ProductID 
JOIN orders o ON od.OrderID = o.OrderID 
GROUP BY 
  s.SupplierID, 
  s.CompanyName, 
  s.ContactName, 
  s.ContactTitle 
ORDER BY 
  Percentage DESC 
LIMIT 1000;



""",con)
print(df)

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    SupplierID                             CompanyName  TotalOrders  \
0            1                          Exotic Liquids           90
1            2              New Orleans Cajun Delights           67
2            3               Grandma Kelly's Homestead           51
3            4                           Tokyo Traders           51
4            5      Cooperativa de Quesos 'Las Cabras'           52
5            6                                Mayumi's           66
6            7                           Pavlova, Ltd.          153
7            8                Specialty Biscuits, Ltd.          123
8            9                          PB Knckebrd AB           34
9           10               Refrescos Americanas LTDA           51
10          11               Heli Swaren GmbH & Co. KG           57
11          12         Plutzer Lebensmittelgromrkte AG          161
12          13  Nord-Ost-Fisch Handelsgesellschaft mbH           32
13          14                 Formaggi Fortini s.r.l.           96
14          15                         Norske Meierier          100
15          16                       Bigfoot Breweries           64
16          17                         Svensk Sjfda AB           50
17          18               Aux joyeux ecclsiastiques           53
18          19             New England Seafood Cannery           87
19          20                            Leka Trading           78
20          21                              Lyngbysild           40
21          22                     Zaanse Snoepfabriek           27
22          23                               Karkki Oy           69
23          24                             G'day, Mate           95
24          25                               Ma Maison           69
25          26                    Pasta Buttini s.r.l.           72
26          27                      Escargots Nouveaux           18
27          28                             Gai pturage          104
28          29                          Forts d'rables           71

    Percentage
0        100.0
1        100.0
2        100.0
3        100.0
4        100.0
5        100.0
6        100.0
7        100.0
8        100.0
9        100.0
10       100.0
11       100.0
12       100.0
13       100.0
14       100.0
15       100.0
16       100.0
17       100.0
18       100.0
19       100.0
20       100.0
21       100.0
22       100.0
23       100.0
24       100.0
25       100.0
26       100.0
27       100.0
28       100.0

### Q-5:Show All Products Year Wise report of totalQuantity sold, percentage change from last year.

In [6]:
df = pd.read_sql_query("""
SELECT
  YEAR(o.OrderDate) AS Year,
  p.ProductID,
  p.ProductName,
  SUM(od.Quantity) AS TotalQuantitySold,
  ((SUM(od.Quantity) - LAG(SUM(od.Quantity)) OVER (PARTITION BY p.ProductID ORDER BY YEAR(o.OrderDate))) / LAG(SUM(od.Quantity)) OVER (PARTITION BY p.ProductID ORDER BY YEAR(o.OrderDate))) * 100 AS PercentageChange
FROM
  orders o
  JOIN order_details od ON o.OrderID = od.OrderID
  JOIN products p ON od.ProductID = p.ProductID
GROUP BY
  YEAR(o.OrderDate),
  p.ProductID,
  p.ProductName
ORDER BY
  YEAR(o.OrderDate),
  p.ProductID


""",con)
print(df)

     Year  ProductID                    ProductName  TotalQuantitySold  \
0    1996          1                           Chai              125.0
1    1996          2                          Chang              226.0
2    1996          3                  Aniseed Syrup               30.0
3    1996          4   Chef Anton's Cajun Seasoning              107.0
4    1996          5         Chef Anton's Gumbo Mix              129.0
..    ...        ...                            ...                ...
222  1998         73                      Rd Kaviar               12.0
223  1998         74                  Longlife Tofu               40.0
224  1998         75             Rhnbru Klosterbier              405.0
225  1998         76                     Lakkalikri              388.0
226  1998         77  Original Frankfurter grne Soe              296.0

     PercentageChange
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
..                ...
222          -95.3125
223          -65.5172
224          -35.7143
225          -13.1991
226          -31.4815

[227 rows x 5 columns]

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Problem 6 - 15

For the next problems, you can get the dataset as well as the details [here](https://www.kaggle.com/datasets/thedevastator/drug-performance-evaluation?select=Drug_clean.csv) (Use the *cleaned* csv file).

In [11]:
Drug = pd.read_csv("Drug_clean.csv")
Drug

,Condition,Drug,EaseOfUse,Effective,Form,Indication,Price,Reviews,Satisfaction,Type
0,Acute Bacterial Sinusitis,Amoxicillin,3.852353,3.655882,Capsule,On Label,12.590000,86.294118,3.197647,RX
1,Acute Bacterial Sinusitis,Amoxicillin-Pot Clavulanate,3.470000,3.290000,Liquid (Drink),Off Label,287.370000,43.000000,2.590000,RX
2,Acute Bacterial Sinusitis,Amoxicillin-Pot Clavulanate,3.121429,2.962857,Tablet,On Label,70.608571,267.285714,2.248571,RX
3,Acute Bacterial Sinusitis,Ampicillin,2.000000,3.000000,Capsule,On Label,12.590000,1.000000,1.000000,RX
4,Acute Bacterial Sinusitis,Ampicillin,3.250000,3.000000,Tablet,On Label,125.240000,15.000000,3.000000,RX
...,...,...,...,...,...,...,...,...,...,...
680,vulvovaginal candidiasis,Miconazole Nitrate,3.465000,2.770000,Cream,On Label,13.990000,19.500000,2.345000,RX/OTC
681,vulvovaginal candidiasis,Miconazole-Skin Clnsr17,4.750000,3.000000,Cream,On Label,13.990000,4.000000,3.000000,OTC
682,vulvovaginal candidiasis,Miconazole-Skin Clnsr17,4.000000,1.000000,Other,On Label,125.990000,1.000000,1.000000,OTC
683,vulvovaginal candidiasis,Terconazole,3.525000,3.047500,Cream,On Label,68.990000,20.000000,2.717500,RX
684,vulvovaginal candidiasis,Tioconazole,3.852500,2.022500,Other,On Label,22.990000,145.000000,1.827500,OTC

In [10]:
engine = create_engine("mysql+pymysql://root:campusx@localhost/task_37")
Drug.to_sql("drug", con=engine)

685

### Problem-6: For each condition, what is the average satisfaction level of drugs that are "On Label" vs "Off Label"?

In [13]:
df = pd.read_sql_query("""
SELECT `Condition`, Type, AVG(Satisfaction) AS AvgSatisfaction
FROM drug
GROUP BY `Condition`, Type
ORDER BY `Condition`

""",con)
print(df)

                                    Condition    Type  AvgSatisfaction
0                   Acute Bacterial Sinusitis      RX         2.612484
1                  adenocarcinoma of pancreas      RX         2.920417
2                           Atopic Dermatitis  \r\r\n         3.750000
3                           Atopic Dermatitis     OTC         3.036944
4                           Atopic Dermatitis      RX         3.599801
5                           Atopic Dermatitis  RX/OTC         2.516667
6                                   back pain     OTC         3.819459
7                    Bacterial Conjunctivitis      RX         2.694688
8           Bacterial Urinary Tract Infection      RX         2.738656
9                            biliary calculus      RX         4.152500
10                                 chickenpox      RX         4.210000
11                          colorectal cancer      RX         3.000000
12                                 depression      RX         3.280222
13   diverticulitis of gastrointestinal tract      RX         2.414598
14                                      edema      RX         2.600672
15                              endometriosis      RX         2.778759
16                                      fever     OTC         3.579668
17                                      fever      RX         2.946535
18                                      fever  RX/OTC         3.478750
19                               fibromyalgia      RX         3.275417
20                                 flatulence  \r\r\n         3.000000
21                                 flatulence     OTC         3.899194
22                               furunculosis      RX         3.146250
23            gastroesophageal reflux disease     OTC         3.409792
24            gastroesophageal reflux disease      RX         3.533750
25            gastroesophageal reflux disease  RX/OTC         3.341406
26                     genital herpes simplex      RX         3.387000
27                                       gout     OTC         4.495533
28                                       gout      RX         3.487356
29                                       gout  RX/OTC         3.057500
30                                hemorrhoids     OTC         3.680606
31                                hemorrhoids      RX         3.143000
32                                hemorrhoids  RX/OTC         2.562500
33                              herpes zoster      RX         3.573750
34                       hypercholesterolemia  \r\r\n         3.710000
35                       hypercholesterolemia     OTC         3.000000
36                       hypercholesterolemia      RX         2.974654
37                       hypercholesterolemia  RX/OTC         3.840000
38                               hypertension      RX         3.103593
39                                   impetigo      RX         2.875000
40                           Infantile Autism      RX         3.057500
41                                  Influenza      RX         2.565000
42                          meniere's disease     OTC         4.067000
43                           oral candidiasis      RX         2.967619
44  Pharyngitis due to Streptococcus Pyogenes      RX         2.593032
45     prevention of cerebrovascular accident     OTC         3.100000
46     prevention of cerebrovascular accident      RX         2.903750
47     prevention of cerebrovascular accident  RX/OTC         4.550000
48                             pyelonephritis      RX         1.747857
49                                    scabies      RX         2.873333
50                                    scabies  RX/OTC         2.310000
51  Sleepiness Due To Obstructive Sleep Apnea      RX         3.785000
52                                sore throat     OTC         3.340909
53                                    vertigo     OTC         3.527984
54                                    vertigo      RX         3.205000
55                                    vertigo  RX/OTC         2.750000
56                   vulvovaginal candidiasis     OTC         2.961726
57                   vulvovaginal candidiasis      RX         3.645833
58                   vulvovaginal candidiasis  RX/OTC         2.345000

### **`Problem-7:`** For each drug type (RX, OTC, RX/OTC), what is the average ease of use and satisfaction level of drugs with a price above the median for their type?

In [14]:
df = pd.read_sql_query("""
SELECT Type, AVG(EaseOfUse) AS AvgEaseOfUse, AVG(Satisfaction) AS AvgSatisfaction
FROM drug
WHERE Price > (
  SELECT AVG(Price)
  FROM drug d2
  WHERE d2.Type = drug.Type
)
GROUP BY Type


""",con)
print(df)

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     Type  AvgEaseOfUse  AvgSatisfaction
0      RX      3.755196         3.086030
1     OTC      3.822800         3.374767
2  RX/OTC      3.511250         2.905000
3  \r\r\n      3.560000         3.130000

### **`Problem 8:`** What is the cumulative distribution of EaseOfUse ratings for each drug type (RX, OTC, RX/OTC)? Show the results in descending order by drug type and cumulative distribution. (Use the built-in method and the manual method by calculating on your own. For the manual method, use the "ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW" and see if you get the same results as the built-in method.)

In [16]:
#Using manual method:
df = pd.read_sql_query("""
SELECT Type, EaseOfUse, 
       SUM(COUNT(*)) OVER (PARTITION BY Type ORDER BY EaseOfUse DESC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS CumulativeDistribution
FROM drug
GROUP BY Type, EaseOfUse
ORDER BY Type ASC, CumulativeDistribution DESC;

""",con)
print(df)

       Type  EaseOfUse  CumulativeDistribution
0    \r\r\n    3.00000                     5.0
1    \r\r\n    3.56000                     4.0
2    \r\r\n    4.43000                     3.0
3    \r\r\n    5.00000                     2.0
4       OTC    1.00000                   168.0
..      ...        ...                     ...
334  RX/OTC    4.41000                     7.0
335  RX/OTC    4.47625                     6.0
336  RX/OTC    4.50000                     5.0
337  RX/OTC    4.64000                     3.0
338  RX/OTC    4.88000                     1.0

[339 rows x 3 columns]

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [15]:
#Using built-in method:
df = pd.read_sql_query("""
SELECT Type, EaseOfUse, 
       (SELECT COUNT(*) 
        FROM drug d2 
        WHERE d2.Type = d1.Type AND d2.EaseOfUse <= d1.EaseOfUse) AS CumulativeDistribution
FROM drug d1
ORDER BY Type ASC, CumulativeDistribution DESC;


""",con)
print(df)

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       Type  EaseOfUse  CumulativeDistribution
0    \r\r\n      5.000                       5
1    \r\r\n      5.000                       5
2    \r\r\n      4.430                       3
3    \r\r\n      3.560                       2
4    \r\r\n      3.000                       1
..      ...        ...                     ...
680  RX/OTC      3.465                       5
681  RX/OTC      3.330                       4
682  RX/OTC      3.000                       3
683  RX/OTC      2.600                       2
684  RX/OTC      1.000                       1

[685 rows x 3 columns]

### **`Problem 9:`** What is the median satisfaction level for each medical condition? Show the results in descending order by median satisfaction level. (Don't repeat the same rows of your result.)

In [20]:
#Using NTILE method:
df = pd.read_sql_query("""
SELECT `Condition`, AVG(Satisfaction) AS MedianSatisfaction
FROM (
  SELECT `Condition`, Satisfaction,
         NTILE(4) OVER (PARTITION BY `Condition` ORDER BY Satisfaction) AS Quartile
  FROM drug
) sub
WHERE Quartile = 2
GROUP BY `Condition`
ORDER BY MedianSatisfaction DESC;

""",con)
print(df)

                                    Condition  MedianSatisfaction
0                           meniere's disease            5.000000
1                            biliary calculus            4.250000
2   Sleepiness Due To Obstructive Sleep Apnea            3.945000
3                                  chickenpox            3.880000
4                                  flatulence            3.814679
5                                furunculosis            3.750000
6                                   back pain            3.535199
7                                        gout            3.461250
8                                     vertigo            3.427586
9                           Atopic Dermatitis            3.362119
10                              herpes zoster            3.335000
11                     genital herpes simplex            3.335000
12            gastroesophageal reflux disease            3.275565
13                                      fever            3.198422
14                                hemorrhoids            3.142917
15                                  Influenza            3.130000
16                                sore throat            3.113636
17                                   impetigo            3.090000
18                                 depression            3.086250
19                               fibromyalgia            3.050833
20     prevention of cerebrovascular accident            2.960000
21                               hypertension            2.941395
22                 adenocarcinoma of pancreas            2.867500
23                           oral candidiasis            2.862857
24                       hypercholesterolemia            2.765000
25                           Infantile Autism            2.760000
26                   vulvovaginal candidiasis            2.687500
27                                      edema            2.609500
28                  Acute Bacterial Sinusitis            2.596250
29                              endometriosis            2.579438
30                             pyelonephritis            2.495714
31  Pharyngitis due to Streptococcus Pyogenes            2.357000
32                                    scabies            2.340000
33                   Bacterial Conjunctivitis            2.316667
34   diverticulitis of gastrointestinal tract            2.291393
35          Bacterial Urinary Tract Infection            2.169311

In [24]:
# #Using PERCENTILE_CONT method:
# df = pd.read_sql_query("""
# SELECT `Condition`, 
#        PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY Satisfaction) AS MedianSatisfaction
# FROM drug
# GROUP BY `Condition`
# ORDER BY MedianSatisfaction DESC;


# """,con)
# print(df)

### **`Problem 10:`** What is the running average of the price of drugs for each medical condition? Show the results in ascending order by medical condition and drug name.

In [25]:
df = pd.read_sql_query("""
SELECT 
  `Condition`,
  `Drug`,
  `Price`,
  AVG(`Price`) OVER (PARTITION BY `Condition` ORDER BY `Drug`) AS `RunningAvgPrice`
FROM 
  `drug`
ORDER BY 
  `Condition` ASC, `Drug` ASC;

""",con)
print(df)

                     Condition                         Drug       Price  \
0    Acute Bacterial Sinusitis                  Amoxicillin   12.590000
1    Acute Bacterial Sinusitis  Amoxicillin-Pot Clavulanate  287.370000
2    Acute Bacterial Sinusitis  Amoxicillin-Pot Clavulanate   70.608571
3    Acute Bacterial Sinusitis                   Ampicillin   12.590000
4    Acute Bacterial Sinusitis                   Ampicillin  125.240000
..                         ...                          ...         ...
680   vulvovaginal candidiasis           Miconazole Nitrate   13.990000
681   vulvovaginal candidiasis      Miconazole-Skin Clnsr17   13.990000
682   vulvovaginal candidiasis      Miconazole-Skin Clnsr17  125.990000
683   vulvovaginal candidiasis                  Terconazole   68.990000
684   vulvovaginal candidiasis                  Tioconazole   22.990000

     RunningAvgPrice
0          12.590000
1         123.522857
2         123.522857
3         101.679714
4         101.679714
..               ...
680        53.930000
681        57.945000
682        57.945000
683        59.172222
684        55.554000

[685 rows x 4 columns]

### **`Problem 11:`** What is the percentage change in the number of reviews for each drug between the previous row and the current row? Show the results in descending order by percentage change.

In [30]:
df = pd.read_sql_query("""
SELECT 
    Drug,
    Reviews,
    LAG(Reviews) OVER (ORDER BY Reviews DESC) AS PrevReviews,
    (Reviews - LAG(Reviews) OVER (ORDER BY Reviews DESC)) / LAG(Reviews) OVER (ORDER BY Reviews DESC) * 100 AS PctChange
FROM drug
ORDER BY PctChange DESC;

""",con)
print(df)

                                 Drug  Reviews  PrevReviews  PctChange
0                         Simvastatin    806.0      806.000   0.000000
1    Ciprofloxacin Hcl, Ciprofloxacin    627.0      627.000   0.000000
2                        Atorvastatin    577.5      577.500   0.000000
3                       Ciprofloxacin    538.0      538.000   0.000000
4                        Rosuvastatin    402.0      402.000   0.000000
..                                ...      ...          ...        ...
680                         Meloxicam    813.0      969.875 -16.174765
681                        Ampicillin      1.0        1.250 -20.000000
682                        Pregabalin   3066.0     4647.000 -34.021950
683                     Amitriptyline   1126.0     2867.000 -60.725497
684                        Duloxetine   4647.0          NaN        NaN

[685 rows x 4 columns]

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### **`Problem 12:`** What is the percentage of total satisfaction level for each drug type (RX, OTC, RX/OTC)? Show the results in descending order by drug type and percentage of total satisfaction.

In [31]:
df = pd.read_sql_query("""
SELECT Type,
       Drug,
       Satisfaction,
       Satisfaction / SUM(Satisfaction) OVER(PARTITION BY Type) * 100 AS SatisfactionPercentage
FROM drug
ORDER BY Type, SatisfactionPercentage DESC


""",con)
print(df)

       Type                                               Drug  Satisfaction  \
0    \r\r\n                         Vit E-Glycerin-Dimethicone          5.00
1    \r\r\n                                             Niacin          4.29
2    \r\r\n                                             Niacin          3.13
3    \r\r\n                 Simethicone, Alpha-D-Galactosidase          3.00
4    \r\r\n  Vit E-Glycerin-Dimethicone, Glycerin-Dimethico...          2.50
..      ...                                                ...           ...
680  RX/OTC                                         Permethrin          2.31
681  RX/OTC                             Hydrocortisone Acetate          2.00
682  RX/OTC                             Hydrocortisone Acetate          2.00
683  RX/OTC                                          Meclizine          2.00
684  RX/OTC  Hydrocortisone Acetate, Bismuth Subg-Balsam-Zn...          1.00

     SatisfactionPercentage
0                 27.901786
1                 23.939732
2                 17.466518
3                 16.741071
4                 13.950893
..                      ...
680                2.656814
681                2.300272
682                2.300272
683                2.300272
684                1.150136

[685 rows x 4 columns]

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### **`Problem 13:`** What is the cumulative sum of effective ratings for each medical condition and drug form combination? Show the results in ascending order by medical condition, drug form and the name of the drug.

In [32]:
df = pd.read_sql_query("""
SELECT 
    `Condition`, 
    `Form`, 
    `Drug`,
    `Effective`,
    SUM(`Effective`) OVER (
        PARTITION BY `Condition`, `Form`
        ORDER BY `Drug`
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS CumulativeSum
FROM 
    drug
ORDER BY 
    `Condition` ASC, 
    `Form` ASC, 
    `Drug` ASC;



""",con)
print(df)

                     Condition            Form                         Drug  \
0    Acute Bacterial Sinusitis         Capsule                  Amoxicillin
1    Acute Bacterial Sinusitis         Capsule                   Ampicillin
2    Acute Bacterial Sinusitis  Liquid (Drink)  Amoxicillin-Pot Clavulanate
3    Acute Bacterial Sinusitis  Liquid (Drink)  Erythromycin Ethylsuccinate
4    Acute Bacterial Sinusitis  Liquid (Drink)                 Moxifloxacin
..                         ...             ...                          ...
680   vulvovaginal candidiasis           Other         Butoconazole Nitrate
681   vulvovaginal candidiasis           Other         Butoconazole Nitrate
682   vulvovaginal candidiasis           Other      Miconazole-Skin Clnsr17
683   vulvovaginal candidiasis           Other                  Tioconazole
684   vulvovaginal candidiasis          Tablet                  Fluconazole

     Effective  CumulativeSum
0     3.655882       3.655882
1     3.000000       6.655882
2     3.290000       3.290000
3     3.277778       6.567778
4     2.870000       9.437778
..         ...            ...
680   5.000000       5.000000
681   5.000000      10.000000
682   1.000000      11.000000
683   2.022500      13.022500
684   3.600000       3.600000

[685 rows x 5 columns]

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### **`Problem-14:`** What is the rank of the average ease of use for each drug type (RX, OTC, RX/OTC)? Show the results in descending order by rank and drug type.

In [38]:
df = pd.read_sql_query("""
SELECT Type, AVG(EaseOfUse) AS AvgEaseOfUse, DENSE_RANK() OVER (ORDER BY AVG(EaseOfUse) DESC) AS Ranks
FROM drug
GROUP BY Type
ORDER BY Ranks ASC;


""",con)
print(df)

     Type  AvgEaseOfUse  Ranks
0  \r\r\n      4.198000      1
1     OTC      4.141914      2
2  RX/OTC      3.923259      3
3      RX      3.839966      4

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

### **`Problem-15:`** For each condition, what is the average effectiveness of the top 3 most reviewed drugs?

In [45]:
df = pd.read_sql_query("""
SELECT `Condition`, AVG(`Effective`) AS `AvgEffectiveness`
FROM (
    SELECT `Condition`, `Drug`, `Effective`, 
           DENSE_RANK() OVER (PARTITION BY `Condition` ORDER BY `Reviews` DESC) AS `Ranks`
    FROM `drug`
) t
WHERE `Ranks` <= 3
GROUP BY `Condition`
ORDER BY `Condition` ASC;


""",con)
print(df)

                                    Condition  AvgEffectiveness
0                   Acute Bacterial Sinusitis          2.982175
1                  adenocarcinoma of pancreas          3.576667
2                           Atopic Dermatitis          3.490556
3                                   back pain          3.574074
4                    Bacterial Conjunctivitis          3.051667
5           Bacterial Urinary Tract Infection          3.303333
6                            biliary calculus          4.267500
7                                  chickenpox          4.458333
8                           colorectal cancer          3.000000
9                                  depression          3.505556
10   diverticulitis of gastrointestinal tract          3.204286
11                                      edema          3.379028
12                              endometriosis          4.008762
13                                      fever          3.329444
14                               fibromyalgia          3.440000
15                                 flatulence          4.400417
16                               furunculosis          4.021667
17            gastroesophageal reflux disease          3.821667
18                     genital herpes simplex          3.498667
19                                       gout          3.388889
20                                hemorrhoids          3.373889
21                              herpes zoster          4.098333
22                       hypercholesterolemia          3.228333
23                               hypertension          3.361667
24                                   impetigo          3.653333
25                           Infantile Autism          3.302500
26                                  Influenza          2.827500
27                          meniere's disease          4.567000
28                           oral candidiasis          3.177857
29  Pharyngitis due to Streptococcus Pyogenes          2.924470
30     prevention of cerebrovascular accident          3.101667
31                             pyelonephritis          2.336429
32                                    scabies          3.003333
33  Sleepiness Due To Obstructive Sleep Apnea          4.047500
34                                sore throat          4.454545
35                                    vertigo          3.658333
36                   vulvovaginal candidiasis          2.777024

In [ ]:





### **`Problem-15:`** For each condition, what is the average effectiveness of the top 3 most reviewed drugs?