# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data", "Science" ,"Mentorship", "Program" ,sep="-",end ="-started-")
print("By" ,"CampusX",sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
celsius = float(input("Temperature value in degree Celsius: " ))  
Fahrenheit = (celsius * 9/5) + 32  
    
# print the result  
print('The {} degree Celsius is equal to: {} Fahrenheit'  
      .format(celsius, Fahrenheit))

Temperature value in degree Celsius: 16
The 16.0 degree Celsius is equal to: 60.8 Fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [4]:
# Write your code here
a=input("enter a: ")
b=input("enter b: ")
a,b=b,a
print(a,b)

enter a: 3
enter b: 6
6 3

In [5]:
a=3
b=4
temp=a
a=b
b=temp
print(a,b)

4 3

34
### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [46]:
# Write your code here
x1=int(input("enter x cor of fist point: "))
x2=int(input("enter x cpr of sencon pont: "))
y1=int(input("enter y cor of ist point : "))
y2=int(input("enter y cod of second point: "))
distance=((x1-x2)**2+(y1-y2)**2)**0.5
print("distance is :",distance)

enter x cor of fist point: 2
enter x cpr of sencon pont: 3
enter y cor of ist point : 4
enter y cod of second point: 5
distance is : 1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [18]:
# Write your code here
principal =int(input("Enter principal : "))
rate = float(input("Enter Rate : "))
time =int(input("Enter time: "))
Simple_interest = (principal * rate * time)/100
print("Simple interest is : ",Simple_interest)

Enter principal : 1000
Enter Rate : 10
Enter time: 5
Simple interest is :  500.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [10]:
# Get user input for total number of heads and legs
h = int(input("Enter total number of heads: "))
l = int(input("Enter total number of legs: "))

# Calculate number of chickens and dogs
y = (l - (2 * h)) / 2
x = h - y

# Check if the solution is valid
if y < 0 or x < 0 or int(y) != y or int(x) != x:
    print("Invalid input. No solution exists.")
else:
    print("Number of chickens:", int(x))
    print("Number of dogs:", int(y))

Enter total number of heads: 4
Enter total number of legs: 10
Number of chickens: 3
Number of dogs: 1

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [11]:
#using for loop
n = int(input("Enter the value of n: "))
sum = 0

for i in range(1, n+1):
    sum += i**2

print("Sum of squares of first", n, "natural numbers is:", sum)

Enter the value of n: 10
Sum of squares of first 10 natural numbers is: 385

In [12]:
#using while loop
n = int(input("Enter a number: "))
sum_of_squares = 0
i = 1

while i <= n:
    sum_of_squares += i ** 2
    i += 1

print("Sum of squares of first", n, "natural numbers:", sum_of_squares)

Enter a number: 10
Sum of squares of first 10 natural numbers: 385

In [52]:
#using direct formula
n =int(input("Enter the number : "))
sum =n*(n+1)*(2*n+1)/6
print(sum)

Enter the number : 10
385.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [53]:
#nth_term = first_term + (num_of_term-1)*common_diff
first_term =int(input("enter first term  : "))
second_term =int(input("enter second term : "))
n = int(input("Enter the value of n : "))

d = second_term - first_term
an = first_term + (n-1)*d
print(an)

enter first term3
enter second term6
Enter the value of n5
15

In [14]:
# Get user input for first term, common difference, and value of N
a = int(input("Enter the first term of the series: "))
d = int(input("Enter the common difference between consecutive terms: "))
n = int(input("Enter the value of N: "))

# Calculate the Nth term of the series
nth_term = a + (n - 1) * d

# Print the result
print(f"The {n}th term of the series is: {nth_term}")

Enter the first term of the series: 3
Enter the common difference between consecutive terms: 3
Enter the value of N: 5
The 5th term of the series is: 15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [16]:
# Get input from user
num1 = int(input("Enter numerator of first fraction: "))
denom1 = int(input("Enter denominator of first fraction: "))
num2 = int(input("Enter numerator of second fraction: "))
denom2 = int(input("Enter denominator of second fraction: "))

# Calculate the sum of the two fractions
sum_num = num1*denom2 + num2*denom1
sum_denom = denom1*denom2

# Simplify the sum if possible
for i in range(sum_num, 0, -1):
    if sum_num % i == 0 and sum_denom % i == 0:
        sum_num = sum_num // i
        sum_denom = sum_denom // i
        break

# Print the result
print(f"The sum of {num1}/{denom1} and {num2}/{denom2} is {sum_num}/{sum_denom}")

Enter numerator of first fraction: 1
Enter denominator of first fraction: 0
Enter numerator of second fraction: 0
Enter denominator of second fraction: 9
The sum of 1/0 and 0/9 is 1/0

In [17]:
# Write your code here

n1 = int(input("Enter the numerator for 1st number : "))
d1 = int(input("Enter the denominator for 1st number : "))
n2 = int(input("Enter the numerator for 2nd number : "))
d2 = int(input("Enter the denominator for 2nd number : "))

rn = n1*d2 +n2*d1

rd = d1*d2

print("{}/{}".format(rn,rd))

Enter the numerator for 1st number : 1
Enter the denominator for 1st number : 0
Enter the numerator for 2nd number : 0
Enter the denominator for 2nd number : 9
9/0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [60]:
# Write your code here
import math
h_t = float(input("enter height of tank: "))
b_t = float(input("enter Bredth of tank : "))
l_t = float(input("enter length of tank : "))

h_g = float(input("enter height of glass : "))
r_g = float(input("enter radius of glass : "))

vol_tank =h_t*b_t*l_t
print("Volume of tank is : ",vol_tank)

vol_glass = 3.14 * r_g *r_g*h_g
print("Volume of glass is : ",vol_glass)

print("Num of glass = " ,math.floor(vol_tank/vol_glass))

enter height of tank: 9
enter Bredth of tank : 9
enter length of tank : 9
enter height of glass : 2
enter radius of glass : 2
Volume of tank is :  729.0
Volume of glass is :  25.12
Num of glass =  29